* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F1F1F1;
  display: flex;
}

.chatbots {
  width: 20vw;
  height: 99vh;
  margin-top: 0.2%;
  margin-left: 0.2%;
  background-color: rgb(30, 30, 30);
}

.user-profile-img {
  object-fit: contain;
  width: 100px;
  height: 100px;
  display: block;
  margin: 10% auto;
  margin-bottom: 5%;
  border-radius: 50%;
}

.item-resultado {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 5px;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-resultado h2 {
  color: #F1F1F1;
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.descricao-meta {
  color: #ffffff;
  font-size: 0.9em;
}

.bot-image {
  object-fit: contain;
  width: 70px;
  height: 70px;
  display: block;
  margin: 2.5% 0;
  margin-left: 5%;
  border-radius: 50%;
}

.usermail {
  color: #F1F1F1;
  text-align: center;
  margin-bottom: 5%;
}

.bot-disponiveis {
  color: #F1F1F1;
  margin-left: 5%;
  margin-bottom: 2.5%;
}

.chat-conversation {
  width: 80%;
  max-height: 88vh;
  margin-top: 0.2%;
  margin-right: 0.2%;
  background-color: #F1F1F1;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.input-container {
  position: absolute;
  bottom: 0;
  left: 2.5%;
  width: 75%;
  padding: 10px;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin-bottom: 1%;
  margin-left: 20vw;
  z-index: 1;
}

.input-container i {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: #3f3f3f;
}

.input-container .fa-paperclip {
  left: 2%;
}

.input-container .fa-paper-plane {
  left: 4%;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 6%;
  border: none;
  border-radius: 5px;
  background-color: #D9D9D9;
}

.input-container input:focus {
  outline: none;
}

.chat-message {
  padding: 10px;
  margin-top: 1.5%;
  max-width: 70%;
  word-wrap: break-word;
}

.user-message {
  border-radius: 7px 0px 7px 7px;
  margin-right: 2.5%;
  text-align: right;
  color: blue;
  align-self: flex-end;
  background-color: #e0e0ff;
}

.bot-message {
  border-radius: 0px 7px 7px 7px;
  margin-left: 2.5%;
  text-align: left;
  color: green;
  align-self: flex-start;
  background-color: #d3ffd3;
}

.chat-conversation p {
  font-size: 2vw;
  text-align: center;
  margin: 25% 25% 25% 25%;
  font-weight: bold;
}

.arrow {
  position: absolute;
  z-index: 2;
  left: 22vw;
  width: 30px;
  height: 30px;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  font-size: 20px;
  margin-top: 0.5vh;
}

.fa-arrow-left, .fa-arrow-right {
  color: white;
  margin: 5px;
}

.msg-inicial {
  margin-top: 5%;
}

@keyframes moveLeft {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes moveCenter {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-10vw);
  }
}

@keyframes moveArrow {
  0% {
      transform: translateX(21vw);
  }
  100% {
      transform: translateX(1vw);
  }
}

@keyframes moveInputCenter {
  0% {
      transform: translateX(0vw);
  }
  100% {
      transform: translateX(-10vw);
  }
}

@keyframes moveLeftReverse {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes moveCenterReverse {
  0% {
      transform: translateX(-10vw);
  }
  100% {
      transform: translateX(0vw);
  }
}

@keyframes moveArrowReverse {
  0% {
      transform: translateX(1vw);
  }
  100% {
      transform: translateX(21vw);
  }
}

@keyframes moveInputCenterReverse {
  0% {
      transform: translateX(-10vw);
  }
  100% {
      transform: translateX(0vw);
  }
}

.move-input-center {
  animation: moveInputCenter 0.5s forwards;
  z-index: 1;
}

.move-left {
  animation: moveLeft 0.5s forwards;
}

.move-center {
  animation: moveCenter 0.5s forwards;
}

.arrow-move {
  animation: moveArrow 0.5s forwards;
  left: 1vw;
}

.move-input-center-reverse {
  animation: moveInputCenterReverse 0.5s forwards;
}

.move-left-reverse {
  animation: moveLeftReverse 0.5s forwards;
}

.move-center-reverse {
  animation: moveCenterReverse 0.5s forwards;
}

.arrow-move-reverse {
  animation: moveArrowReverse 0.5s forwards;
  left: 1vw;
}

@media screen and (max-width: 768px) {
  .chatbots {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease; /* Para uma transição suave */
  }

  /* Quando o chatbots estiver visível */
  .chatbots.show {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 2;
  }

  /* Estilos para centralizar o input no meio da tela */
  .input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; /* Centraliza o contêiner */
    width: 90%; /* 90% da largura da tela */
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 2%;
    z-index: 1;
  }

  .input-container input {
    width: 100%;
    padding: 7px 7px 7px 8%;
    font-size: 0.9em;
  }

  /* Adicionando o chat-conversation */
  .chat-conversation {
    width: 100%; /* 100% da largura da tela */
    max-height: 80vh; /* Define uma altura máxima para a conversa */
    margin-top: 10%; /* Deixa um espaço acima */
    margin-bottom: 5%; /* Ajuste para um pequeno espaçamento na parte inferior */
    background-color: #F1F1F1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding: 10px;
    z-index: 1;
  }

  .chat-conversation p {
    font-size: 3vw; /* Aumentando o tamanho da fonte */
    text-align: center; /* Centralizando o texto horizontalmente */
    margin: 25% 0; /* Centralizando verticalmente com um espaço maior */
    font-weight: bold;
    color: #333; /* Cor do texto para maior contraste */
  }

  /* Estilo da seta */
  .arrow {
    position: absolute;
    z-index: 2;
    top: 10px; /* Move a seta para o topo */
    left: 10px; /* Move a seta para o canto esquerdo */
    width: 30px;
    height: 30px;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .arrow i {
    color: white;
    margin: 5px;
  }

  /* Aumentando o espaço entre os ícones na input-container */
  .input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #3f3f3f;
  }

/* Ajustando a largura do input para que os ícones não se sobreponham */
.input-container input {
  width: calc(100% - 40px); /* Reduzindo o width para compensar o espaço dos ícones */
  padding: 10px 10px 10px 6%; 
  border: none;
  border-radius: 5px;
  background-color: #D9D9D9;
  margin-left: 5%;
}

/* Aumentando o espaço entre os ícones */
.input-container .fa-paperclip {
   /* Posição inicial do ícone */
  margin-right: 15px; /* Aumenta o espaço entre os ícones */
}

.input-container .fa-paper-plane {
   /* Posiciona o ícone um pouco mais à direita */
  margin-left: 15px; /* Aumenta o espaço entre os ícones */
}

  
}
