/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(30, 30, 30);
    color: #fff;
    height: 100vh;
    overflow: hidden;
    display: flex;
    visibility: hidden;
  }
  
  .error-message {
    color: white;
    background-color: rgb(255, 84, 84);
    border-radius: 8px;
    width: 65%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    display: none;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .move-right {
    animation: moveRight 0.7s forwards;
  }
  
  .move-left {
    animation: moveLeft 0.5s forwards;
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(0); /* Começa na posição original */
    }
    100% {
      transform: translateX(-200%); /* Move completamente para a esquerda */
    }
  }
  
  /* Estilo para o formulário, dependendo da página */
  .form-container {
    width: 45%;
    margin-left: 10%; /* Ajuste para .register ou .login conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    box-shadow: 0 0 15px rgba(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
  }
  
  h2 {
    text-align: center;
    margin: 3% auto;
  }
  
  .input-container {
    position: relative;
    width: 75%;
    margin: 0 auto 20px;
  }
  
  .input-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #9b28e8;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  .input-container input:focus {
    outline: 2px solid #9b28e8;
  }
  
  input:focus {
    outline: 2px solid #9b28e8;
  }
  
  @media screen and (max-width: 768px) {
    /* Ajuste da imagem */
    .image-container {
      width: 180px;
      height: 180px; /* A imagem ocupa apenas metade da tela */
      border-radius: 50%; /* Faz a imagem virar um círculo */
      position: absolute;
      margin-top: 4%;
      margin-bottom: 1%;
      border-radius: 50% 50% 50% 50%; /* Faz o topo circular */
      overflow: hidden;
      left: 30%;
      transform: translateX(-50%); /* Centraliza horizontalmente */
      z-index: 1; /* Garante que a imagem fique sobre o conteúdo de login */
      box-shadow: 0 0 10px rgba(255, 255, 255);
    }

    .image-container img {
        object-fit: cover; /* A imagem cobre completamente o círculo */
        object-position: center; /* Centraliza a imagem */
        overflow: hidden;
      }

      .form-container {
        width: 80%;
        height: 90%;
        margin: 0 auto;
        
        overflow: visible;
        background-color: rgb(30, 30, 30);
        padding: 20px;
        box-shadow: none;
      }

  h2 {
    font-size: 1.2rem; /* Ajusta o tamanho do título */
    margin-bottom: 10px;
    margin-top: 10px; /* Menor espaço abaixo do título */
  }

  /* Ajuste nos campos de entrada */
  .input-container input {
    padding: 12px 12px 12px 40px; /* Adiciona espaço para o ícone */  
  }
}

@media screen and (max-width: 480px) {

    /* Ajuste da imagem */
  .image-container {
    width: 200px;
    height: 200px; /* A imagem ocupa apenas metade da tela */
    border-radius: 50%; /* Faz a imagem virar um círculo */
    position: absolute;
    margin-top: 17%;
    border-radius: 50% 50% 50% 50%; /* Faz o topo circular */
    overflow: hidden;
    left: 30%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    z-index: 1; /* Garante que a imagem fique sobre o conteúdo de login */
    box-shadow: 0 0 10px rgba(255, 255, 255);
  }

  .image-container img {
    object-fit: cover; /* A imagem cobre completamente o círculo */
    object-position: center; /* Centraliza a imagem */
    overflow: hidden;
  }

  .form-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: visible;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    box-shadow: none;
  }

  h2 {
    font-size: 1.5rem; /* Ajusta o tamanho do título */
    margin-bottom: 11px;
    margin-top: 10px; /* Menor espaço abaixo do título */
  }

  /* Ajuste nos campos de entrada */
  .input-container input {
    padding: 15px 15px 15px 40px; /* Adiciona espaço para o ícone */
  }
}